.main-container{
  background-color: 
  padding:1rem;
  font-family: 'Cormorant Garamond', serif;
  color:white;
  
}
.nav-container{
  margin:1rem;
  padding: 0 5%;
  display: flex;
  background-color:#9198e5;
  margin:0;
  padding:1rem;
}
.links-contianer{
  display:flex;
}
.hero-container{
  height: 800px;
  width: 100vw;
  background:linear-gradient(#e66465, #9198e5);
  padding:1rem;

}